/* =Default Styles
----------------------------------------------- */
body {
	color:#222; border-color:#efefef;
}

a {
	color:#1e7ec8; text-decoration:none;
	-webkit-transition:color .2s linear;
	-moz-transition:color .2s linear;
	-o-transition:color .2s linear;
	transition:color .2s linear;
}
a:hover {
	color:#c1460a;
}
em {
	font-style:italic;
}
strong {
	font-weight:bold;
}
code {
	font-family:"Courier New", Courier, monospace; color:#666; padding:0 2px;
}
pre {
	font-family:"Courier New", Courier, monospace; background:#fefefe url(../images/pre.png); color:#888; text-shadow:1px 1px #fff; box-shadow:inset 1px 1px 5px rgba(0,0,0,.03); border-radius:3px; line-height:25px; padding:25px; border:1px solid #efefef; margin-bottom:20px; word-wrap:break-word; white-space:pre-wrap;
}
abbr, dfn {
	border-bottom:1px dotted #222; cursor:help; white-space:nowrap;
}
ins, mark {
	text-decoration:none;
}
q, blockquote {
	font-family:"Times New Roman", Times, serif; font-style:italic; font-size:115%; quotes:'\201C' '\201D' '\2018' '\2019';
}
small {
	font-size:90%; color:#888; font-style:italic;
}
hr {
	border:0; border-bottom:1px solid #efefef; margin:10px 0; padding:0; height:1px; display:block;
}
hr.dashed {
	border-bottom-style:dashed; border-color:#ccc;
}
hr.thick {
	border-bottom-style:solid; border-bottom-width:5px;
}
hr.double {
	border-bottom-style:double; border-bottom-width:3px;
}
hr.dotted {
	border-bottom-style:dotted; border-color:#ddd;
}

/* =Table
----------------------------------------------- */
table.table, .shop_table {
	background:#fff; border:1px solid #f4f4f4;
}
table.table caption {
	color:#888;
}
table.table thead th, .shop_table thead th {
	font-weight:bold; font-size:85%; text-shadow:1px 1px rgba(255,255,255,.8);
	background: rgb(247,247,247); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk0JSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(242,242,242,1) 94%, rgba(221,221,221,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(94%,rgba(242,242,242,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(242,242,242,1) 94%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(242,242,242,1) 94%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(242,242,242,1) 94%,rgba(221,221,221,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(242,242,242,1) 94%,rgba(221,221,221,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */
}
table.table tbody td, .shop_table td, .shop_table th {
	border-bottom:1px solid #f4f4f4; border-top:1px solid #fff;
}
table.table tr:nth-of-type(even) td, .shop_table tr:nth-of-type(even) td, .shop_table tr:nth-of-type(even) th {
	background:#fcfcfc;
}
table.table tbody .row-green td, table.table tbody tr td.data-green {
	background:#ECFFEB;
	border-bottom:2px solid #8EBE86;
}
table.table tbody .row-blue td, table.table tbody tr td.data-blue {
	background:#E3F7FF;
	border-bottom:2px solid #B5BDCD;
}
table.table tbody .row-yellow td, table.table tbody tr td.data-yellow {
	background:#FFFAD2;
	border-bottom:2px solid #B1AF72;
}
table.table tbody .row-red td, table.table tbody tr td.data-red {
	background:#FFEAEA;
	border-bottom:2px solid #FFACAC;
}
table.highlight tbody tr:hover td {
	background:#444;
}
table.table tfoot td {
	font-style:italic; color:#888; border-top:1px solid #fff;
	background: rgb(247,247,247); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

/* =Definition List
----------------------------------------------- */
dl.separator {
	margin-bottom:15px;
}
dl.separator dt {
	float:left; clear:both; width:150px; border-top:1px solid #efefef;
}
dl.separator dd {
	margin:0 0 5px 150px; border-left:3px solid #efefef; padding:5px 0 5px 10px; font-style:italic;
}


/* =Form
----------------------------------------------- */
.cyonform fieldset {
	border:0; padding:0;
}
.cyonform input[type=text], .cyonform input[type=email], .cyonform input[type=phone], .cyonform input[type=password], #ui-datepicker-div select, .cyonform input[type=submit], .cyonform input[type=button], .cyonform textarea, .cyonform select, .cyonform button, .cyonform .button, .btn, #drop-nav { 
	border:0; margin:0; font-family:inherit; font-size:inherit; border:1px solid #ccc; border-radius:3px; padding:6px 5px; color:#888; white-space:nowrap; line-height:normal; background:#f8f8f8;
	transition:all ease-in-out .3s;
	-moz-transition:all ease-in-out .3s;
	-webkit-transition:all ease-in-out .3s;
	-ms-transition:all ease-in-out .3s;
}
.cyonform input[type=text], .cyonform input[type=email], .cyonform input[type=phone], .cyonform textarea, .cyonform select, #drop-nav {
	box-shadow: inset 1px 1px 3px rgba(0,0,0,.1); 
}
.cyonform input[type=text]:focus, .cyonform input[type=email]:focus, .cyonform input[type=phone]:focus, .cyonform input[type=submit]:focus, .cyonform input[type=button]:focus, .cyonform textarea:focus, .cyonform textarea.error:focus, .cyonform select:focus {
	box-shadow:0 0 6px rgba(0,0,0,.1); background:#fff; color:#222; 
}
.cyonform input[type=radio], .cyonform input[type=checkbox] {
	position:relative; top:2px;
}
.cyonform select {
	padding-top:5px; padding-bottom:5px; line-height:26px; height:30px;
}
.cyonform button, .cyonform input[type=submit], .cyonform input[type=reset], .cyonform input[type=button], .cyonform .button, .btn {
	cursor:pointer; border-color:#c1c1c1; color:#666; text-transform:uppercase; display:inline-block; box-shadow:1px 1px 3px rgba(0,0,0,.1), inset 1px 1px 1px rgba(255,255,255,.5), inset -1px -1px 2px rgba(0,0,0,.1); border-radius:5px; padding-left:10px; padding-right:10px; margin-bottom:2px;
}
.cyonform button:hover, .cyonform input[type=submit]:hover, .cyonform input[type=reset]:hover, .cyonform input[type=button]:hover, .cyonform .button:hover, .btn:hover {
	color:#222; border-color:#999; text-shadow:1px 1px 0 #fff; background-color:#eee;
}
.cyonform button:active, .cyonform input[type=submit]:active, .cyonform input[type=reset]:active, .cyonform input[type=button]:active, .cyonform .button:active, .btn:active {
}
form.form-sending {
	position:relative;
}
form.form-sending fieldset {
	opacity:.2;
}
::-webkit-input-placeholder {
	color:#ccc;
}
:-moz-placeholder {
	color:#ccc;
}
:focus {
	outline: 0;
}
.cyonform input.error::-webkit-input-placeholder, .cyonform textarea.error::-webkit-input-placeholder {
	color:#fff;
}
input.error:-moz-placeholder, textarea.error:-moz-placeholder {
	color:#fff;
}
.cyonform button, .cyonform input[type=submit], .cyonform input[type=reset], .cyonform input[type=button] {
	height:auto; padding:7px 10px; line-height:normal;
}


/* =Boxes
----------------------------------------------- */
.box, blockquote, code {
	background:#f8f8f8; border-radius:3px; border:1px dashed #ddd; padding:1px 5px;
}
div.box, .woocommerce_message, .woocommerce_error, .woocommerce-message, .woocommerce-error, .gform_wrapper .validation_error, .entry-content blockquote, .page-content blockquote {
	padding:10px 15px; position:relative; margin:0 0 20px 0; border-radius:3px; text-shadow:1px 1px rgba(255,255,255,.8);
}
.box.alignleft {
	margin-right:20px;
}
.box.alignright {
	margin-left:20px;
}
.box-blue {
	background-color:#e3f7ff; border-color:#b5bdcd;
}
.box-blue h3 {
	color:#b5bdcd;
}
.box-green {
	background-color:#ecffeb; border-color:#8ebe86;
}
.box-green h3 {
	color:#8ebe86;
}
.box-yellow, .woocommerce_message, .woocommerce-message {
	background-color:#fffad2; border-color:#b1af72;
}
.box-yellow h3 {
	color:#b1af72;
}
.box-red, .woocommerce_error, .woocommerce-error, .gform_wrapper .validation_error  {
	background-color:#ffeaea; border-color:#ff8888;
}
.box-red h3 {
	color:#ff8888;
}


/* =Buttons
----------------------------------------------- */
.btn-blue {
	color: #fff; text-shadow:1px 1px 0 rgba(0,0,0,.2); border-color:#0060c2; background: #007eff;
}
.btn-cyan {
	color: #fff; text-shadow:1px 1px 0 rgba(0,0,0,.2); border-color:#00aa9c; background: #00d9c7;
}
.btn-red {
	color: #fff; text-shadow:1px 1px 0 rgba(0,0,0,.2); border-color:#9f0000; background: #d01010;
}
.btn-green {
	color: #fff; text-shadow:1px 1px 0 rgba(0,0,0,.2); border-color:#197400; background: #30b00e;
}
.btn-yellow {
	color: #fff; text-shadow:1px 1px 0 rgba(0,0,0,.2); border-color:#b2b428; background: #d6d818;
}
.btn-orange {
	color: #fff; text-shadow:1px 1px 0 rgba(0,0,0,.2); border-color:#c34e0f; background: #f05500;
}
.btn-black {
	color: #fff; text-shadow:1px 1px 0 rgba(0,0,0,.2); border-color:#2b2b2b; background: #2b2b2b;
}

/* =Gravity Form
----------------------------------------------- */
.cyonform .ginput_complex label, .cyonform .description {
	display:block; color:#999; font-size:11px; font-style:italic;
}

/* Fields */
.cyonform .gform_fields .gfield_required {
	color:#ff0000;
}
.cyonform .gfield_error {
	background:#fff5f5;
}
.cyonform .gfield_error input[type=text], .cyonform .gfield_error input[type=email], .cyonform .gfield_error input[type=phone], .cyonform .gfield_error select, .cyonform .gfield_error textarea, .cyonform input.error, .cyonform textarea.error {
	background:#ffb2b2; border-color:#ffb2b2; color:#fff; text-shadow:none;
}
.cyonform .gform_fields .validation_message {
	clear:both; margin-left:22%; margin-top:5px; color:#ff0000; font-size:11px; font-weight:bold;
}
.cyonform .ui-datepicker-trigger {
	position:relative; left:-23px; top:3px; cursor:pointer; display:inline-block;
}
.ui-datepicker-control, .ui-datepicker-links {
	display:none;
}

/* Gform Date picker */
#ui-datepicker-div {
	background:#fff; box-shadow:1px 1px 3px rgba(0,0,0,.1); border:1px solid #ccc;
}
#ui-datepicker-div table a {
	color:inherit; cursor:pointer;
}
#ui-datepicker-div table a:hover {
	color:#c1460a;
}
#ui-datepicker-div table thead td a {
	color:#999;
}
#ui-datepicker-div table td {
	text-align:center;
}
#ui-datepicker-div table td.ui-datepicker-today {
	background:#efefef;
}
#ui-datepicker-div table td.ui-datepicker-current-day {
	background:#1e7ec8; color:#fff;
}

/* Gform Progress Bar */
.cyonform .gf_progressbar {
	background-color:#f4f4f4;
}
.cyonform .gf_progressbar_percentage {
	height:30px; text-align:right; text-shadow: 0 1px 1px rgba(0,0,0,0.20);
}
.cyonform .gf_progressbar_percentage span {
	margin-right:5px; margin-left:5px;
}
.cyonform .gf_progressbar_percentage.percentbar_0 span {
	color:#959595; text-shadow:none;
}
.cyonform .percentbar_blue {
	background-color:#0072BC; color:#FFF;
}
.cyonform .percentbar_gray {
	background-color:#666; color:#FFF;
}
.cyonform .percentbar_green { 
	background-color:#94DC21; color:#FFF; 
}
.cyonform .percentbar_orange {
	background-color:#DC7021; color:#FFF;
}
.cyonform .percentbar_red {
	background-color:#DC2521; color:#FFF;
}
.cyonform .percentbar_custom {
	background-repeat:repeat-x;
}

/* =Tab Widget
----------------------------------------------- */
.cyon-tabs .widget {
	border:1px solid #f8f8f8; border-bottom-left-radius:3px; border-bottom-right-radius:3px;
}

/* =Price Grid
----------------------------------------------- */
.grid h2 {
	color:#fff;
}
.grid .span10 {
	box-shadow:0 2px 5px rgba(0,0,0,.2);
}
.grid article header {
	border-left:1px solid #666; position:relative; overflow:hidden; min-height:100px;
}
.grid article header hgroup.plan {
	padding:0 10px; box-shadow:0 10px 10px rgba(0,0,0,.2); height:26px; line-height:26px;
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.grid article:last-child header {
	border-right:0;
}
.grid article section > ul li {
	box-shadow:inset 0 6px 20px rgba(0,0,0,.1); border-left:1px solid #fff;
	background: -moz-linear-gradient(top,  rgba(229,229,229,0.26) 0%, rgba(255,255,255,0.27) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,0.26)), color-stop(100%,rgba(255,255,255,0.27))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,229,229,0.26) 0%,rgba(255,255,255,0.27) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,229,229,0.26) 0%,rgba(255,255,255,0.27) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,229,229,0.26) 0%,rgba(255,255,255,0.27) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,229,229,0.26) 0%,rgba(255,255,255,0.27) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42e5e5e5', endColorstr='#45ffffff',GradientType=0 ); /* IE6-9 */
}
.grid article:last-child section > ul li, .grid article:last-child footer {
	border-right:1px solid #fff;
}
.grid article section > ul li:nth-child(even) {
	background: -moz-linear-gradient(top,  rgba(188,188,188,0.26) 0%, rgba(221,221,221,0.27) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(188,188,188,0.26)), color-stop(100%,rgba(221,221,221,0.27))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(188,188,188,0.26) 0%,rgba(221,221,221,0.27) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(188,188,188,0.26) 0%,rgba(221,221,221,0.27) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(188,188,188,0.26) 0%,rgba(221,221,221,0.27) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(188,188,188,0.26) 0%,rgba(221,221,221,0.27) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42bcbcbc', endColorstr='#45dddddd',GradientType=0 ); /* IE6-9 */
}
.grid article header {
	color:#fff; text-shadow:1px 1px rgba(0,0,0,.5); box-shadow:inset 0 6px 30px rgba(0,0,0,.5);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.91) 0%, rgba(69,72,77,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.91)), color-stop(100%,rgba(69,72,77,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.91) 0%,rgba(69,72,77,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.91) 0%,rgba(69,72,77,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.91) 0%,rgba(69,72,77,0.9) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.91) 0%,rgba(69,72,77,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8000000', endColorstr='#e645484d',GradientType=0 ); /* IE6-9 */
}
.grid article header .plan h1 {
	color:#999; font-size:12px; margin:0; padding:0;
}
.grid article header .price em {
	color:#fff; display:block; font-size:12px;
}
.grid article footer {
	padding:20px; border-bottom:1px solid #fff; border-left:1px solid #fff; box-shadow:inset 0 6px 30px rgba(0,0,0,.1);
	background: -moz-linear-gradient(top,  rgba(109,109,109,0.39) 0%, rgba(110,110,110,0.39) 1%, rgba(224,224,224,0.37) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,109,109,0.39)), color-stop(1%,rgba(110,110,110,0.39)), color-stop(100%,rgba(224,224,224,0.37))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(109,109,109,0.39) 0%,rgba(110,110,110,0.39) 1%,rgba(224,224,224,0.37) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(109,109,109,0.39) 0%,rgba(110,110,110,0.39) 1%,rgba(224,224,224,0.37) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(109,109,109,0.39) 0%,rgba(110,110,110,0.39) 1%,rgba(224,224,224,0.37) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(109,109,109,0.39) 0%,rgba(110,110,110,0.39) 1%,rgba(224,224,224,0.37) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636d6d6d', endColorstr='#5ee0e0e0',GradientType=0 ); /* IE6-9 */
}
.grid article:hover {
	background:#eee;
}
.grid article.selected {
	margin-top:-10px;  box-shadow:0 2px 20px rgba(0,0,0,.3); position:relative;
}
.grid .tooltip {
	display:none; position:absolute; top:80%; left:50%; width:200px; background:#fffcdf; border-radius:5px; box-shadow:0 3px 10px rgba(0,0,0,.5); padding:10px;
}
.grid .tooltip-holder:hover {
	position:relative; cursor:pointer;
	background: -moz-linear-gradient(top,  rgba(69,72,77,0.25) 0%, rgba(0,0,0,0.15) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,0.25)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,0.25) 0%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,0.25) 0%,rgba(0,0,0,0.15) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,0.25) 0%,rgba(0,0,0,0.15) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,0.25) 0%,rgba(0,0,0,0.15) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4045484d', endColorstr='#26000000',GradientType=0 ); /* IE6-9 */	
}
.grid .tooltip-holder:hover .tooltip {
	display:block;
}
.grid hgroup h4 {
	position:absolute; background:url(../images/label.png) no-repeat; width:74px; height:74px; overflow:hidden; top:-1px; left:-1px; text-indent:-9999px; margin:0; padding:0;
}
.grid .check {
	background:url(../images/check.png) no-repeat;
}
.grid .no {
	background:url(../images/i_no.png) no-repeat;
}


/* =Toggle & Accordion
----------------------------------------------- */
.toggle, .accordion {
	border:1px solid #ddd;  border-radius:3px; text-shadow:1px 1px 1px #fff; box-shadow:inset 1px 1px 1px rgba(255,255,255,.5); background-color:#f8f8f8;
	transition:background-color .2s ease-in-out;
}
.toggle-active, .accordion-active, .toggle:hover, .accordion:hover {
	background-color:#fff;
}
.toggle h3:before, .accordion h3:before {
	content: "\f107";
}
.toggle-active h3:before, .accordion-active h3:before { content: "\f106"; }

/* =Tabs
----------------------------------------------- */
.tabs {
	 border-bottom:1px solid #efefef; border-radius:3px;
}
.tabs .tab_nav li a {
	text-shadow:1px 1px 0 #fff; border:1px solid #efefef; white-space:nowrap; border-top-left-radius:3px; border-top-right-radius:3px; box-shadow:inset 1px 1px 1px rgba(255,255,255,.5); background:#f8f8f8;
	transition:background-color ease-in-out .3s;
	-moz-transition:background-color ease-in-out .3s;
	-webkit-transition:background-color ease-in-out .3s;
	-ms-transition:background-color ease-in-out .3s;
}
.tabs .tab_nav li.active a {
	color:inherit; cursor:default; background:none; border-bottom-color:#fff;
}
.tabs .tab-content { 
	border:1px solid #eee; border-radius:3px; border-top-left-radius:3px; border-bottom:0;
}


/* =WP PageNavi
----------------------------------------------- */
.wp-pagenavi {
	text-align:right; float:right; padding:5px 0; clear:both;
}
.wp-pagenavi .current, .wp-pagenavi a {
	text-shadow:1px 1px 0 #fff; border:1px solid #efefef; white-space:nowrap; border-radius:3px; box-shadow:inset 1px 1px 1px rgba(255,255,255,.5); background:#f8f8f8; padding:3px 8px; margin:0 2px 2px 0; display:inline-block;
	transition:background-color ease-in-out .3s;
	-moz-transition:background-color ease-in-out .3s;
	-webkit-transition:background-color ease-in-out .3s;
	-ms-transition:background-color ease-in-out .3s;
}
.wp-pagenavi span {
	padding:3px 10px;
}
.wp-pagenavi span.current {
	color:inherit; cursor:default; background:none;
}
