/* =Page Layout on Smaller Screens
----------------------------------------------- */

@media (min-width: 788px) and (max-width: 1020px){
	.wp-pagenavi { float:none; margin:0 auto 5px auto; text-align:center; }
	.woocommerce_ordering .selector { margin:0 auto; float:none; display:block; }
}
@media only screen and (max-width:788px) {
	.wp-pagenavi { float:none; margin:0 auto 5px auto; text-align:center; }
	.woocommerce_ordering .selector { margin:0 auto; float:none; display:block; }
	.shop_table tr td.actions .coupon, .shop_table tr td.actions p { float:none; width:auto; display:block; clear:both; }
	.shop_table tr td.actions .coupon p { padding-bottom:10px; }
	#order_review .shop_table, #payment { float:none; width:100%; clear:both; }
}
@media only screen and (max-width:700px){
	.type-product .images { float:none; }
	.type-product .summary { margin-left:0; }
	.wp-pagenavi { float:none; margin:0 auto 5px auto; text-align:center; }
	.woocommerce_ordering .selector { margin:0 auto; float:none; display:block; }
}
@media only screen and (max-width:480px) {
	.type-product .summary { clear:both; margin-left:0; }
	.type-product .shop_attributes { width:100%; }
	.type-product form.cart .variations td .selector { display:block; }
	.type-product form.cart .single_variation, .type-product form.cart .variations_button { float:none; width:100%; }
	.woocommerce-result-count { float:none; margin-bottom:5px; }
	.woocommerce-ordering { float:none; }
	.products li.first { clear:none!important; }
	.products li:first-chid { margin-left:0!important; }
	.products li:nth-of-type(2n+1) { clear:both; margin-left:0!important; }
	.col2-set .col-1, .col2-set .col-2 { float:none; width:auto; clear:both; }
	.col2-set .col-1 { margin-bottom:30px; }
	.wp-pagenavi .pages, .wp-pagenavi .page, .wp-pagenavi .extend { display:none; }
	.cart-collaterals .cross-sells, .cart-collaterals .cart_totals, .cart-collaterals .shipping_calculator { float:none; width:auto; margin:0 0 10px 0; }
	.shop_table tr td.actions input[type=submit] { display:block; margin:10px 0; }
	.shop_table .product-price, .shop_table .product-thumbnail, .product-remove { display:none; }
	#payment .place-order input[type="submit"] { float:none; clear:both; display:block; }
	#payment .place-order .terms { margin-top:10px; }
}
