/* =Editor menu
----------------------------------------------- */
span.mce_cyon_plugin {
	background:url(../images/icons-admin.png) 2px 3px no-repeat!important;
}

.mceButtonMenu div[role="presentation"] { 
	max-height:200px!important; max-width:150px; overflow:auto; overflow-x: hidden;
}

